@model DeliveryUI.Models.DeliveryModels

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deactivate Delivery</title>
</head>
<body>
    <div>

    </div>
</body>
</html>
