</div>

<div class="footer">
    <div class="excerpt">
        <p style="padding-left:15px">This is a MVC WEB/API and class library application. It is made up of the following layers:</p>

        &nbsp;&nbsp;&nbsp;* A presentation represented by the views.<br />
        &nbsp;&nbsp;&nbsp;* An application layer made out of the MVC controllers.<br />
        &nbsp;&nbsp;&nbsp;* A business logic built in the form of a .Net class library project.<br />
        &nbsp;&nbsp;&nbsp;* A data access layer implemented by the MVC API application.<br />
        &nbsp;&nbsp;&nbsp;* A database layer made out of by the tables and stored procedures in SQL Server.

        <p style="padding-left:15px">It is still under development, and it has been tested for gmail. It will send messages on schedule via Email, FTP, FTPS, HTTP, and HTTPS when completed. If you would like to set it up on your computer for a demo please contact Cristian Rey at creydev@yahoo.com.<p>

    </div>
</div>
</body>

</html>
